:root {
    --main-color: #5da5a4;
    --bg-color:#f0fafa;
}


header {
    background-image: url('./images/bg-header-desktop.svg');
    background-repeat: no-repeat;
    height: 156px;
    background-color: var(--main-color);
}

body {
    background-color: var(--bg-color);
}

#filter-area,#filter-area > div,
.list {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-radius: 4px;
    background-color: white;

}

#filter-area,
.list,
.company-logo {
    border-radius: 4px;
    box-shadow: #d5ebeb 0px 10px 50px;
    
}


#container {
    margin: auto;
    width: 85%;
}

.company-logo,.basic-info {
    display: flex;
}

.featured {
    background-color: var(--main-color);
    border-radius: 4px 0 0 4px;
    width: 4px;
}

.btn-filters-area{
    margin: 10px;
    background-color: var(--bg-color);
    border-radius: 4px;
    border: none;
    padding: 0 0 0 10px;
}
.btn-filters-area button{
    background-color: var(--main-color);
    color: white;
    
    border-radius: 0 4px 4px 0;
}
.btn-filters-area button:hover{
    background-color: black;
}
#filter-area{
    margin-top: -25px;
}
#filter-area>div{
    margin: 0;
}
.position{
    margin: 10px 0;
}

.btn-filters-area,.company-name,.position:hover{
    color: var(--main-color);
}

.company-name,.btn-filters-area
{
    font-weight: 700;
    font-size: medium;
    
}

.new,.feature
{
    color: white;
    font-size: small;
    
}
.new,.feature{
    background-color: var(--main-color);
    padding: 4px 8px;
    border-radius: 20px;
}
.feature{
    
    background-color: black;
}

.company-details{
    padding: 25px;
}
.job-extra-info{
    color: #8c9292;
}
.category{
    padding: 50px 20px;
}
.category button{
margin: 4px;
padding: 0 10px;
}
.category button:hover{
    background-color: var(--main-color);
    color: var(--bg-color);
}